<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">历史沿革</h1> 

<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">古代</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <ul>
            <li>原始社会的晚期—新石器时期（1万年前－4000年前），已有人在大岭山地域内过着狩猎的流动生活。</li>
            <li>唐肃宗至德二年（757年），宝安改为东莞，县治从南头移迁到涌（即今莞城），将原南头宝安县治改为东莞郡治。大岭山地属东莞。</li>
            <li>南宋高宗绍兴22年（1148年），分东莞的香山镇立为香山县（即今中山市）。此时，先后有梅林、太公岭、大塘、颜屋、杨屋、元岭、马蹄岗等村落。马山庙在北宋时已建立。</li>
            <li>元代设广州路总管府，领县有七：南海、番禺、东莞增城、香山、新会、清远。</li>
            <li>明太祖洪武元年（1308年）大岭山仍属广州府的东莞县。</li>
            <li>明万历元年（1573年），东莞县属新安县（即今宝安县、县治在南头）。此时，大岭山镇仍属东莞县。</li>
            <li>清代道光20年（1840年），大岭山地区的建制与清代同。</li>
        </ul>

         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">建国前</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <ul>
            <span>建国前（1912年-1949年），东莞县属粤海道，后属中区绥靖委员会公署。</span>
            <li>1934年，大岭山镇地属第七区，（包括附城、篁村、寮步一部分及大岭山全部地域）。村落有：大松朗、矮岭冚、大塘、水浸朗、鸡翅岭、马蹄岗、新塘、太公岭、百花洞、梅林、连平段、大片尾、坑尾、三家村、元岭及金桔农场、底下埔兆丰农场、月山农场、沙井岭农场。</li>
            <li>1946年，大岭山镇地属第三区。包括金桔乡（由大沙、金桔、犀牛陂等小乡在当年8月并入）、濂平乡（由连平和厚街的环治、篁村的杨西等小乡并入）、怀德乡之大塘、水朗两村。</li>
            <li>1948年至1949年，大岭山镇包括第一区的濂平乡、第三区的金桔乡，第五区的怀德乡一部分，其中濂平乡包括：第六保的新飞鹅，第七保（大石板、连平圩、髻岭、上高田、下高田），第八保（大湾、新屋场、畔山），第九保（大王岭、油古岭、瓮窑）；金桔乡包括：金桔岭的第一保、第二保、第三保（含并朗村），第四保（含下虎山、梅林叶屋、月山）。第五保（大片尾），第六、七保（矮岭冚），第八、九保（马蹄岗），第十、十一保（新塘），第十二保（大塘朗、大坑），第十三保（上底、福田），第十四保、第十五保（浮竹山），第十六保（小坑），第十七保（长坑），第十八保（黄公坑、甘屋村、连塘头、水车岭、坑尾、小洞），第十九保（元岭），第二十保（宝陂），第二十一、二十二保（犀牛陂），第二十三保（杨屋村），第二十四保（杨屋、水围、颜屋、坑尾），第二十五保（杨屋），第二十六保（鸡翅岭），第二十七保（大沙、景山），第二十八保（大沙圩、桥头、长镇岭、龙山、龙岗、黄沙坑），第二十九保（太公岭、梅林、邝屋），第三十保（百花洞）怀德乡的第十二、第三、第十四保（大塘），第十五保（水朗）。</li>
        </ul>

         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">建国后</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <ul>
            <li>This is free Bootstrap theme by templatemo.</li>
            <li>Proin gravida nibh vel velit.</li>
            <li>Aenean sollicitudin lorem quis.</li>
            <li>bibendum auctor, nisi elitnsequat ipsum.</li>
            <li>This is free Bootstrap theme by templatemo.</li>
            <li>Proin gravida nibh vel velit.</li>
            <li>Aenean sollicitudin lorem quis.</li>
            <li>bibendum auctor, nisi elitnsequat ipsum.</li>
            <li>This is free Bootstrap theme by templatemo.</li>
            <li>Proin gravida nibh vel velit.</li>
            <li>Aenean sollicitudin lorem quis.</li>
            <li>bibendum auctor, nisi elitnsequat ipsum.</li>
            <li>This is free Bootstrap theme by templatemo.</li>
            <li>Proin gravida nibh vel velit.</li>
            <li>Aenean sollicitudin lorem quis.</li>
            <li>bibendum auctor, nisi elitnsequat ipsum.</li>
            <li>nec sagittis sem nibh id elit.</li>
        </ul>

</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->