<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">大事记</h1> 

<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <ul>
            <span>Maria Callas, UX Designer</span>
            <li>This is free Bootstrap theme by templatemo.</li>
            <li>Proin gravida nibh vel velit.</li>
            <li>Aenean sollicitudin lorem quis.</li>
            <li>bibendum auctor, nisi elitnsequat ipsum.</li>
            <li>nec sagittis sem nibh id elit.</li>
        </ul>

        <ul>
            <span>Maria Callas, UX Designer</span>
            <li>This is free Bootstrap theme by templatemo.</li>
            <li>Proin gravida nibh vel velit.</li>
            <li>Aenean sollicitudin lorem quis.</li>
            <li>bibendum auctor, nisi elitnsequat ipsum.</li>
            <li>nec sagittis sem nibh id elit.</li>
        </ul>

        <ul>
            <span>Maria Callas, UX Designer</span>
            <li>This is free Bootstrap theme by templatemo.</li>
            <li>Proin gravida nibh vel velit.</li>
            <li>Aenean sollicitudin lorem quis.</li>
            <li>bibendum auctor, nisi elitnsequat ipsum.</li>
            <li>nec sagittis sem nibh id elit.</li>
        </ul>

        <ul>
            <span>Maria Callas, UX Designer</span>
            <li>This is free Bootstrap theme by templatemo.</li>
            <li>Proin gravida nibh vel velit.</li>
            <li>Aenean sollicitudin lorem quis.</li>
            <li>bibendum auctor, nisi elitnsequat ipsum.</li>
            <li>nec sagittis sem nibh id elit.</li>
        </ul>

</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->