    <head>

        <title>数字大岭山</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content="东莞, 大岭山, 社区, 农场, 领居, 矮岭冚, 白花洞, 大环, 大岭, 大片美, 大沙, 大塘, 大塘朗, 鸡翅岭, 金桔, 旧飞鹅, 连平, 马蹄岗, 梅林, 水朗, 太公岭, 下高田, 新塘, 杨屋, 颜屋, 元岭">
        <meta name="description" content="用心创造价值！">
        <meta name="author" content="乡下仔">
        <meta name="robots" content="ALL">
        <link rel="canonical" href="https://www.govae.com/">

        <!-- CSS | bootstrap -->
        <!-- Credits: http://getbootstrap.com/ -->
        <link  rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />

        <!-- CSS | font-awesome -->
        <!-- Credits: http://fortawesome.github.io/Font-Awesome/icons/ -->
        <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.min.css" />

        <!-- CSS | animate -->
        <!-- Credits: http://daneden.github.io/animate.css/ -->
        <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css" />

        <!-- CSS | Normalize -->
        <!-- Credits: http://manos.malihu.gr/jquery-custom-content-scroller -->
        <link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.css" />
        
        <!-- CSS | Colors -->
        <link rel="stylesheet" type="text/css" href="assets/css/colors/DarkBlue.css" id="colors-style" />
        <link rel="stylesheet" type="text/css" href="assets/css/switcher.css" />
        
        <!-- CSS | Style -->
        <!-- Credits: http://themeforest.net/user/FlexyCodes -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

        <!-- CSS | prettyPhoto -->
        <!-- Credits: http://www.no-margin-for-errors.com/ -->
        <link rel="stylesheet" type="text/css" href="assets/css/prettyPhoto.css"/> 

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="based/images/favicon.ico">
        <link rel="Bookmark" href="based/images/favicon.png"/>
        <link rel="apple-touch-icon" href="based/images/favicon.png"/>

        <!--[if IE 7]>
                <link rel="stylesheet" type="text/css" href="assets/css/icons/font-awesome-ie7.min.css"/>
        <![endif]-->

        <style>
            @media only screen and (max-width : 991px){
                .resp-vtabs .resp-tabs-container {
                    margin-left: 13px;
                }
            }
            
            @media only screen and (min-width : 800px) and (max-width : 991px){
                .resp-vtabs .resp-tabs-container {
                    margin-left: 13px;
                    width:89%;
                }
            }       

        </style>

    </head>