<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">关于我们</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">大岭山镇</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-star"></i>
                <label>隶属</label>
                <span class="value">广东省东莞市</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-home"></i>
                <label>下辖</label>
                <span class="value">21个村，2个社区</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-globe"></i>
                <label>面积</label>
                <span class="value">95.53平方公里</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>位置</label>
                <span class="value">东莞市中南部</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-cloud"></i>
                <label>气候</label>
                <span class="value">亚热带</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>人口</label>
                <span class="value">约5.26万</span>
                <div class="clear"></div>
            </li>

        </ul>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            大岭山是是著名的革命老区、荔枝之乡、莞香原产地、家具名镇，先后获国家级生态乡镇、中国绿色名镇、国家卫生镇、全国文明村镇、全国建制镇示范试点等称号。
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">特产</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>莞香</h6>
                    <p>莞香是东莞特有的珍贵特产，品位高、经济价值大，自元明两代以来在东莞已是内庭贡品。故而当时莞邑地区广泛种植，但以大岭山最为出名。</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>荔枝</h6>
                    <p>大岭山镇是传统的荔枝种植基地，特优品种“糯米糍”曾荣获92年首届全国农产品博览会金质奖，桂味荔枝也获97年农博会名牌产品。</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>烧鹅</h6>
                    <p>东莞的不同镇区,对鹅的各种做法都各不相同：碌鹅、卤鹅、五味鹅、烧鹅......其中，又以大岭山荔枝柴烧鹅最闻名。</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">特色</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            交通
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>
                        地处广深科技创新走廊（东莞段）的核心轴及东莞市区、松山湖、滨海湾三大片区的中心节点上，是全市唯一同时与东莞市区、松山湖和深圳接壤的镇，地理区位优越，广深珠、莞深、常虎、龙大、等高速均在镇内（旁）设有出口，107国道、厚大路、石大路横贯全镇，规划建设中的轨道交通、莞番高速、环莞快速也将越境而过。
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            文化
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>
                        文化深厚，特别是东纵文化源远流长。大岭山抗日根据地旧址被纳入全国重点文物保护单位及国家级抗战纪念设施、遗址名录，镇内建有广东省规模最大的抗日战争专题博物馆——东纵纪念馆，“东纵精神”世代相传。
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            生态
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>
                        东临松山湖，北靠同沙生态公园，西南依大岭山森林公园，形成了倚山傍湖的独特生态优势，有马山、更鼓楼、石洞等休闲风景区及大小水库10座，全镇森林覆盖率达43.1%，人均公园绿地面积25平方米。
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->