
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="no-js"> <!--<![endif]-->  
{% include head.html %}

<script src="https://map.qq.com/api/gljs?v=1.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script>
<body onload="initMap()">
     
      {{content}}
      <!-- </div> -->
 
<!-- {% include footer.html %} -->
 
{% include scripts.html %}
</body>
<script src="/based/javascripts/gmap.js"></script>
</html>